* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(81, 81, 241);
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container-main {
    background-color: red;
    width: 90%;
    max-width: 500px;
    height: 90%;
    border-radius: 5px;
    box-shadow: 5px 5px 8px black ;
}

.pokedex {
    background-color: blue;
    width: 80%;
    max-width: 200px;
    border-radius: 0 0 20px 0;
    text-align: center;
    
}

.pokedex h1 {
    font-size: 1.7em;
    color: #fff;
}


.container-sub {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.container-two {
    display: flex;
    width: 90%;
    height: 50%;
    background-color: #afdffd;
    margin-top: 10px;
    border-radius: 10px 10px 30px 10px;
    justify-content: space-around;
    align-items: center;
}

.container-img {
    display: flex;
    align-items: center;
    height: 90%;
    width: 60%;
    justify-content: center;
    background-image: url("https://i.pinimg.com/736x/d5/00/d2/d500d286b7f6e8787218447409e1b152--cool-backgrounds-iphone-backgrounds.jpg");
    background-position: center;
    background-size: contain;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.img {
    width: 70%;
}

.container-buttons {
    display: flex;
    width: 25%;
    justify-content: center;
    
}

.btn-shiny {
    background-color: red;
    border: none;
    outline: none;
    padding: 30%;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 2px 0px black;
}

.btn-shiny:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

.container-info {
    display: flex;
    width: 90%;
    height: 40%;
    background-color: rgb(93, 0, 0);
    border-radius: 10px;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    
}

.info-one {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 10px;
    color: #fff;
}

.info-two {
    display: flex;
    width: 50%;
    color: #fff;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.nome {
    text-transform: capitalize;
}

.tipo {
    text-transform: capitalize;
}

.habilidades {
    text-transform: capitalize;
}

.input {
    width: 50%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 5px;
    text-transform: lowercase;
}


.btn {
    width: 50%;
    border: none;
    cursor: pointer;
    padding: 5px;
    color: #fff;
    background-color: blue;
    border-radius: 5px;
    
}

.btn:active {
    opacity: 0.7;
}

.inbtn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 10px;
    
}


@media (max-height: 655px) {

    .input {
        padding: 2px;
    }
    .btn {
        padding: 2px;
    }

    .info-one p {
        font-size: 10px;
    }

    .info-two p {
        font-size: 10px;
    }

    .inbtn {
        align-items: start;
        
    }

    
}

@media (max-height: 610px) {

    .container-info {
        height: 35%;
    }
    
}




